<div class="h-screen overflow-hidden flex items-center justify-center 
bg-gradient-to-r from-indigo-500 to-purple-500 text-white">
    <div class="text-center">
        <h1 class="text-5xl font-extrabold mb-4">Oops!</h1>
        <h2 class="text-4xl font-bold mb-8">404 - Page Not Found</h2>
        <p class="text-lg mb-6">
            Looks like you've ventured into uncharted territory. 
            The page you are looking for may have been moved, deleted, 
            or never existed.
        </p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
        <a (click)="onHomeClick()" class="rounded-md bg-cyan-600 px-3.5 py-2.5 
        text-sm font-semibold text-white shadow-sm hover:bg-cyan-500">
        Go back home
    </a>
        <a (click)="onContactClick()" class="text-sm font-semibold text-gray-900">
            Contact support 
            <span aria-hidden="true">&rarr;</span></a>
      </div>
    </div>
</div>
