<mat-sidenav-container autosize="">
    <mat-sidenav #sidenav mode="side" opened="true">

      <mat-nav-list>

        <mat-list-item>
          <mat-icon matListIcon class="chevron-button sidenav-button" (click)="isExpanded =!isExpanded" [ngClass]="{'rotated': isExpanded}">chevron_right</mat-icon>
        </mat-list-item>

        <mat-list-item [routerLink]="'dashboard'">
          <mat-icon matListIcon class="">home</mat-icon>
          <span *ngIf="isExpanded">Dashboard</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'Tasks'">
          <mat-icon matListIcon class="">list</mat-icon>
          <span *ngIf="isExpanded">Tasks</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'customers'">
          <mat-icon matListIcon class="">people</mat-icon>
          <span *ngIf="isExpanded">Customers</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'customers'">
          <mat-icon matListIcon class="">message</mat-icon>
          <span *ngIf="isExpanded">Chats</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'settings'">
          <mat-icon matListIcon class="">settings</mat-icon>
          <span *ngIf="isExpanded">Settings</span>
        </mat-list-item>

        <mat-list-item>
          <mat-icon matListIcon class="">logout</mat-icon>
          <span *ngIf="isExpanded">Log-out</span>
        </mat-list-item>
        
      </mat-nav-list>
  
    </mat-sidenav>
    <div class="content">
      <mat-toolbar>
          <h4>Hello Everyone</h4>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </div>
    
</mat-sidenav-container>
  

